/*ABOUT PAGE*/
.grid-flex {
  display: flex;
  flex-wrap: wrap;
}

.col-image {
  flex: 50%;
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
}

.col-text {
  flex: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .col-image,
  .col-text {
    flex: 100%;
  }
}

p {
  font-size: 3vw;
}
h1 {
  font-size: 10vw;
  text-align: center;
}
