.title h2{
    text-align: center;
}

.btn-container{
    text-align:center;
    padding:5px;
}

.filter-btn{
    margin:5px;
}

.item-info{
    text-align:center;
}

.item-button{
    margin:5px;
}

.photo{
    width:400px;
    height:400px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}


.title h2{
    color:black;
}


