.main-footer {
    color: white;
    background-color: #521751;
    padding-top: 3em;
    position: relative;
    padding-bottom: 0;
    position: relative;
    width: 100%;
}


div.col h4 {
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

div.col ul {
    display: inline-flex;
    flex-direction: column;
}

div.col ul li {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div p.col-sm {
    text-align: center;
}